.main{
    margin:0;
    padding:0;
    min-height: 100vh;
    background-image: url('https://www.hulu.com/static/hitch/s3/attachments/ckzoylttk003x1v6mcd4p0gk2-ckxgnvin29r771v5fyutjbf5c-bundle-6400x2640-desktop-1x.jpg');
    /* background: linear-gradient(156.82deg,
    rgba(0,0,0,0.6)4.58%,rgba(0,0,0,0)69.61%),linear-gradient(24.5deg,
    rgba(0,0,0,0.2)4.71%,rgba(0,0,0,0)71.49%) */
    background-size: 121%;
    background-repeat: no-repeat;
    background-position-x: -17rem;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 90vh;
}
.title{
    fill:rgb(30, 226, 128);
    width:6rem;
    font-weight:bold;
    margin-left:1rem;
    padding: 1rem;
}

.text{
    color:rgb(30, 226, 128);
    font-size: 0.9rem;
    text-transform: uppercase;
    text-align:center;
    font-weight:600;
}
.logos{
    display: flex;
    padding: 1rem;
    justify-content: space-evenly;
    flex-direction: row;
    width:60vw;
}
.logo_image{
    width:45vw;
}
.button{
    padding: .75rem 1.5rem;
    border:none;
    background-color:white;
    border-radius:2px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    -ms-border-radius:2px;
    -o-border-radius:2px;
    text-transform: uppercase;
    font-weight:600;
}
.page_title{
    font-size: 1.35rem;
    margin-top: 0;
    margin-bottom:1.5rem;
    text-align:center;
    width:50vw;
    font-weight:600;
}
.special_text{
    text-decoration: underline;
    text-align:center;
    margin-bottom: 5rem;
    letter-spacing: 0em;
}